* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 以下、footerをbottomに常時表示するための記述 */
/* Next.jsでは、bodyのエレメントに対して設定 */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}